$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

.custom-bg {
    background-color: #4c5b64;
}

.create-user {
    display: none;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
